# Virtualenvs
.venv/

# Python
__pycache__

# IDE
.idea

# Notebooks
*ipynb_checkpoints
/**/*ipynb_checkpoints
.DS_Store
*.ipynb

# Pytest Cache
*pytest_cache
/**/*pytest_cache


# Plots
/**/**/*png

# Experiment UCI datasets
/experiments/uci/datasets

# Experiment outputs
/**/**/**/outputs


# Test YAMLs
/**/**/**/*yaml

# Shell scripts
/**/**/shell_commands
*.sh

# zip files
*.zip